li{
  display: inline;
}
.bg-fff{
  background-color: #FFF;
}
.bg-violet{
  background-color: purple;
}
.bg-darkgrey{
  background-color: grey;
}
.bg-blue{
  background-color: blue;
}
h3{
  margin: 0;
  padding: 30px 0;
}
